<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MOTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MOTP.Properties.Settings>
            <setting name="autoweb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="adddubl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patternNaclPal" serializeAs="String">
                <value>^HUB-\d{2}_L\d{5}</value>
            </setting>
            <setting name="patternPlmbPal" serializeAs="String">
                <value />
            </setting>
            <setting name="patternNaclGM" serializeAs="String">
                <value>^HUB-\d{2}_L\d{5}</value>
            </setting>
            <setting name="patternPlmbGM" serializeAs="String">
                <value />
            </setting>
            <setting name="patternNaclMesh" serializeAs="String">
                <value>^HUB-\d{2}_L\d{5}</value>
            </setting>
            <setting name="patternPlmbMesh" serializeAs="String">
                <value>^\d{12}</value>
            </setting>
            <setting name="patternNaclCont" serializeAs="String">
                <value>^HUB-\d{2}_L\d{5}</value>
            </setting>
            <setting name="patternPlmbCont" serializeAs="String">
                <value>^\d{12}</value>
            </setting>
            <setting name="patternNaclSave" serializeAs="String">
                <value />
            </setting>
            <setting name="patternPlmbSave" serializeAs="String">
                <value />
            </setting>
            <setting name="patternNaclZas" serializeAs="String">
                <value />
            </setting>
            <setting name="patternPlmbZas" serializeAs="String">
                <value />
            </setting>
            <setting name="PPpal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PPgm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PPmesh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPcont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PPzas" serializeAs="String">
                <value>False</value>
            </setting>
        </MOTP.Properties.Settings>
    </userSettings>
</configuration>